body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Line1
{
   margin: 0;
   padding: 0;
   -moz-box-shadow: 4px 4px 0px #000000;
   -webkit-box-shadow: 4px 4px 0px #000000;
   box-shadow: 4px 4px 0px #000000;
}
#Image2
{
   border-width: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image4
{
   border-width: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Form1
{
   background-color: transparent;
   background-image: url(images/MENU_Form1_bkgrnd.png);
   background-repeat: repeat-x;
   background-position: left top;
   border: 0px #000000 solid;
   -moz-box-shadow: 5px 5px 9px #87CEFA;
   -webkit-box-shadow: 5px 5px 9px #87CEFA;
   box-shadow: 5px 5px 9px #87CEFA;
}
#jQueryButton2
{
   font-family: "Comic Sans MS";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#wb_jQueryButton2 .ui-button-text
{
   padding: 0;
   line-height: 23px;
}
#jQueryButton2
{
   color: #2779AA;
}
#jQueryButton2 :hover
{
   color: #0070A3;
}
#jQueryButton2 :active
{
   color: #FFFFFF;
}
#wb_jQueryButton2 .ui-button-text-icon .ui-button-icon-primary,
#wb_jQueryButton2 .ui-button-text-icons .ui-button-icon-primary,
#wb_jQueryButton2 .ui-button-icons-only .ui-button-icon-primary
{
   left: 4px;
}
#wb_jQueryButton2 .ui-button-text-icons .ui-button-icon-secondary,
#wb_jQueryButton2 .ui-button-icons-only .ui-button-icon-secondary
{
   right: auto;
   left: 4px;
}
#Shape1
{
   border-width: 0;
}
#Combobox1
{
   border: 1px #A9A9A9 solid;
   background-color: #F0FFF0;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   -moz-box-shadow: 4px 0px 4px #000000;
   -webkit-box-shadow: 4px 0px 4px #000000;
   box-shadow: 4px 0px 4px #000000;
}
#wb_Text1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#Shape2
{
   border-width: 0;
}
#wb_Text2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#Combobox3
{
   border: 1px #A9A9A9 solid;
   background-color: #F0FFF0;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   -moz-box-shadow: 4px 0px 4px #000000;
   -webkit-box-shadow: 4px 0px 4px #000000;
   box-shadow: 4px 0px 4px #000000;
}
#Shape3
{
   border-width: 0;
}
#wb_Text3 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#InlineFrame1
{
   border: 1px #C0C0C0 solid;
   -moz-box-shadow: 4px 4px 4px #000000;
   -webkit-box-shadow: 4px 4px 4px #000000;
   box-shadow: 4px 4px 4px #000000;
}
#wb_Text4 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#Image1
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape4
{
   border-width: 0;
}
#wb_Text5 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#AdvancedButton1
{
   border: 1px #A9A9A9 solid;
   background-color: #40E0D0;
   -moz-box-shadow: 4px 3px 4px #000000;
   -webkit-box-shadow: 4px 3px 4px #000000;
   box-shadow: 4px 3px 4px #000000;
}
#InlineFrame2
{
   border: 1px #E0FFFF solid;
   -moz-box-shadow: 4px 4px 4px #000000;
   -webkit-box-shadow: 4px 4px 4px #000000;
   box-shadow: 4px 4px 4px #000000;
}
#AdvancedButton2
{
   border: 1px #A9A9A9 solid;
   background-color: #40E0D0;
   -moz-box-shadow: 4px 3px 4px #000000;
   -webkit-box-shadow: 4px 3px 4px #000000;
   box-shadow: 4px 3px 4px #000000;
}
#AdvancedButton3
{
   border: 1px #A9A9A9 solid;
   background-color: #40E0D0;
   -moz-box-shadow: 4px 3px 4px #000000;
   -webkit-box-shadow: 4px 3px 4px #000000;
   box-shadow: 4px 3px 4px #000000;
}
#AdvancedButton4
{
   border: 1px #A9A9A9 solid;
   background-color: #40E0D0;
   -moz-box-shadow: 4px 3px 4px #000000;
   -webkit-box-shadow: 4px 3px 4px #000000;
   box-shadow: 4px 3px 4px #000000;
}
#Shape5
{
   border-width: 0;
}
#wb_Text6 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#InlineFrame3
{
   border: 1px #C0C0C0 solid;
   -moz-box-shadow: 4px 4px 4px #000000;
   -webkit-box-shadow: 4px 4px 4px #000000;
   box-shadow: 4px 4px 4px #000000;
}
#Image3
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#InlineFrame4
{
   border: 1px #C0C0C0 solid;
   -moz-box-shadow: 4px 4px 4px #000000;
   -webkit-box-shadow: 4px 4px 4px #000000;
   box-shadow: 4px 4px 4px #000000;
}
#wb_Text7 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
